<h2>Layouts</h2>
<div>
    <button>Click1</button>
</div>
<div>
    <div>@Value</div>
    <button @onclick="() => Value = DateTime.Now.Ticks.ToString()">Click2</button>
</div>

<div>
    @ParameterValue
</div>

@code {

    [Parameter]
    public string ParameterValue { get; set; }

    private string Value = "value";

    

}