@page "/counter"

<h1>Counter</h1>

<p>Current count: @CurrentCount</p>

<button @onclick="IncrementCount">Click me!</button>

<TelerikButton OnClick="@IncrementCount" Primary="true">Click me!</TelerikButton>