@page "/fetchdata"

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<TelerikGrid Data="Forecasts" TotalCount="TotalForecasts" OnRead=@GetWeatherForecasts Height="400px"
             Pageable="true" Sortable="true" Groupable="true"
             FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
             Resizable="true" Reorderable="true">
    <GridColumns>
        <GridColumn Field="@(nameof(WeatherForecast.Date))" Width="120px" />
        <GridColumn Field="@(nameof(WeatherForecast.TemperatureC))" Title="Temperature C" Groupable="false" />
        <GridColumn Field="@(nameof(WeatherForecast.TemperatureF))" Title="Temperature F" Filterable="false" Sortable="false" />
        <GridColumn Field="@(nameof(WeatherForecast.Summary))" />
    </GridColumns>
</TelerikGrid>